/* InputUmkm.css */
.input-umkm-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: 'Comic Sans MS', cursive;
    transition: transform 0.3s ease-in-out;
    margin-top: 120px;
    margin-bottom: 150px;
}

.input-umkm-container h2 {
    color: #8b4513;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.input-umkm-container h3 {
    color: #8b4513;
    font-size: 24px;
    margin-bottom: 15px;
}

.umkm-form {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
    color: #8b4513;
    font-weight: bold;
    /* Tambahkan gaya font lucu ke judul field */
    font-family: 'Comic Sans MS', cursive;
    /* Ganti dengan font yang Anda suka */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: #8b4513;
    font-weight: bold;
}

/* Tambahkan margin-bottom ke input dan textarea untuk memberikan jarak antara field */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
    /* Tambahkan jarak ke bawah setiap field */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #8b4513;
}

.umkm-form button {
    background-color: #8b4513;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Comic Sans MS', cursive;
    /* Ganti dengan font yang Anda sukai */
    font-size: 18px;
    /* Ukuran font */
    font-weight: bold;
    /* Ketebalan font */
    text-transform: uppercase;
}

.umkm-form button:hover {
    background-color: #703b0d;
}

.produk-form,
.acara-form,
.rencana-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

/* Tambahkan margin-bottom ke button dalam form grup */
.umkm-form .produk-form button,
.umkm-form .acara-form button,
.umkm-form .rencana-form button {
    background-color: #cc0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', cursive;
    /* Ganti dengan font yang Anda sukai */
    font-size: 18px;
    /* Ukuran font */
    font-weight: bold;
    /* Ketebalan font */
    text-transform: uppercase;
    /* Tambahkan jarak ke bawah setiap button */
}

.umkm-form .produk-form button:hover,
.umkm-form .acara-form button:hover,
.umkm-form .rencana-form button:hover {
    background-color: #990000;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* Sesuaikan dengan tinggi yang diinginkan */
}

.button-container button[type="submit"] {
    padding: 10px 20px;
    background-color: #8b4513;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Gaya Font */
    font-family: 'Comic Sans MS', cursive;
    /* Ganti dengan font yang Anda sukai */
    font-size: 18px;
    /* Ukuran font */
    font-weight: bold;
    /* Ketebalan font */
    text-transform: uppercase;
    /* Ubah teks menjadi huruf besar */

    /* Anda juga dapat menambahkan properti lain sesuai dengan preferensi desain Anda */
}

.button-container button[type="submit"]:hover {
    background-color: chocolate;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px;
    /* Tambahkan jarak ke bawah setiap field */
    font-family: 'Comic Sans MS', cursive;
    /* Ganti dengan font yang Anda suka */
}