/* UMKMList.css */
.umkm-list-container {
    text-align: center;
    background-color: #c8e6c9;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 110px;
    margin-bottom: 410px;
}

h1 {
    color: #4c762e; /* Warna hijau tua untuk judul */
    margin: 0;
    padding: 0;
}

.umkm-cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.umkm-card {
    background-color: #fff;
    border: 1px solid #8b4513; /* Warna cokelat tua untuk garis tepi */
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
}

.umkm-card:hover {
    transform: scale(1.05);
}

.umkm-link {
    text-decoration: none;
    color: #333;
}

.umkm-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.umkm-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.umkm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.umkm-header h1 {
    color: #8b4513; /* Warna cokelat tua untuk judul header */
    font-size: 28px;
    text-align: center;
    flex: 1;
}

.umkm-registration-link {
    background-color: #8b4513; /* Warna cokelat tua untuk tombol registrasi */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

.umkm-registration-link:hover {
    background-color: #703b0d; /* Warna cokelat tua yang lebih gelap saat hover */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #333;
}

.page-button.active {
    background-color: #8b4513; /* Warna cokelat tua untuk tombol aktif */
    color: #fff;
}

.custom-search-bar {
    margin-top: 20px;
    border: 2px solid #8b4513; /* Warna cokelat tua untuk garis tepi input pencarian */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}