/* BeritaScreen.css */
.berita-container {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.berita-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling untuk baris berita */
.berita-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.berita-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 350px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
}

/* Tambahkan styling untuk gambar di dalam card berita */
.berita-card img {
    max-width: 100%;
    height: auto;
}

/* Tambahkan styling untuk efek hover */
.berita-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.berita-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.berita-card p {
    font-size: 14px;
    color: #666;
}

/* Styling untuk judul Berita Terbaru */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.berita-link {
    text-decoration: none;
    color: inherit;
    /* Mengambil warna default dari teks */
}