/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 400px;
    text-align: center;
}

/* Header Styles */
header {
    background-color: #8B4513;
    /* Coklat brok background */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 36px;
    /* Larger font size */
    font-weight: bold;
    /* Bold header text */
}

h1 {
    font-size: 36px;
    margin-top: 20px;
    /* Add spacing above h1 */
}

/* Section Menu Styles */
.section-menu {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #8B4513;
    /* Coklat brok color */
    font-weight: bold;
    /* Bold menu item text */
    margin: 0 10px;
}

.menu-item.active {
    background-color: #8B4513;
    color: #fff;
}

.menu-item:hover {
    background-color: #A0522D;
    /* Darker brown on hover */
    color: #fff;
    animation: fadeIn 0.3s;
}

/* Section Data Styles */
.section-data {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    animation: fadeInUp 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #333;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

/* Custom Styles */
.laporan-neraca table,
.laporan-arus-kas table,
.laporan-laba-rugi table,
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}

.laporan-neraca table th,
.laporan-neraca table td,
.laporan-arus-kas table th,
.laporan-arus-kas table td,
.laporan-laba-rugi table th,
.laporan-laba-rugi table td,
table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Add background color and hover effect for table rows */
.laporan-neraca table tbody tr:hover,
.laporan-arus-kas table tbody tr:hover,
.laporan-laba-rugi table tbody tr:hover,
table tbody tr:hover {
    background-color: #f5f5f5;
}

.laporan-neraca table th,
.laporan-arus-kas table th,
.laporan-laba-rugi table th,
table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.ekuitas {
    margin-top: 20px;
    margin-bottom: 20px;
}

.laba-rugi-total {
    margin-top: 20px;
    margin-bottom: 40px;
}

.laporan-neraca table th,
.laporan-neraca table td,
.laporan-arus-kas table th,
.laporan-arus-kas table td,
.laporan-laba-rugi table th,
.laporan-laba-rugi table td,
table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.laporan-neraca table tbody tr:hover,
.laporan-arus-kas table tbody tr:hover,
.laporan-laba-rugi table tbody tr:hover,
table tbody tr:hover {
    background-color: #f8f8f8;
}

.catatan-laporan {
    margin-top: 20px;
    background-color: #f9f9f9;
    /* Ganti warna latar belakang dengan warna abu-abu muda */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Lebih tebal dan bayangan yang lebih lembut */
    border-radius: 10px;
    /* Sudut yang lebih lembut */
    margin-bottom: 40px;
    text-align: justify;
}

.catatan-laporan h2 {
    font-size: 28px;
    /* Atur ukuran font untuk judul "Laporan Bulan" lebih besar */
    margin-bottom: 10px;
    color: #333;
    /* Ganti warna teks judul */
}

.catatan-laporan p {
    font-size: 18px;
    /* Atur ukuran font untuk teks catatan laporan */
    line-height: 1.6;
    color: #555;
    /* Ganti warna teks catatan laporan */
}

/* Gaya untuk kontainer audit */
.audit-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk judul laporan */
.audit-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Gaya untuk setiap item audit */
.audit-item {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

/* Gaya untuk deskripsi audit */
.audit-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/* Gaya untuk daftar temuan dan rekomendasi */
.audit-list {
    list-style-type: none;
    /* Menghilangkan tanda titik */
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
}

/* Gaya untuk item dalam daftar temuan dan rekomendasi */
.audit-list-item {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

/* CSS untuk laporan anggaran */
.laporan-anggaran table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.laporan-anggaran th,
.laporan-anggaran td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.laporan-anggaran th {
    background-color: #f2f2f2;
}

.laporan-anggaran tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.laporan-anggaran ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}

.laporan-anggaran li {
    margin-bottom: 5px;
}

.laporan-anggaran h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.laporan-anggaran h3 {
    font-size: 20px;
    margin-top: 20px;
}

.print-button {
    background-color: #8b4513;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.print-button:hover {
    background-color: #654321;
}

.detail-anggaran {
    font-weight: bold;
    margin-left: 5px;
}

/* Style for the main container */
.laporan-anggaran {
    margin-top: 20px;
}

/* Style for the main table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* Style for table headers */
table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style for table cells */
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style for the sub-table (Detail Kategori) */
table table {
    width: 100%;
    border-collapse: collapse;
}

/* Style for sub-table headers */
table table th {
    background-color: #e0e0e0;
}

/* Style for sub-table cells */
table table td {
    border: 1px solid #ddd;
    padding: 5px;
}