/* Home.css */

body {
  background-image: url('../../Assets/Image/desa.jpg');
  /* Ganti 'path/to/your/image.jpg' dengan lokasi relatif atau URL gambar Anda. */
  background-size: cover;
  /* Background image akan ditampilkan dengan ukuran sampai seluruh area body tercakup. */
  background-repeat: no-repeat;
  /* Mencegah gambar latar belakang berulang. */
  background-attachment: fixed;
  /* Membuat gambar latar belakang tetap di tempat saat menggulir halaman. (Opsional) */
}

.home-container {
  background-color: #ece2e200;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 10px;
  color: #fff;
  width: 80%;
  max-width: 600px;
  transition: transform 0.3s ease;
}

.hero-section:hover {
  transform: scale(1.05);
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #A3d89a;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-button:hover {
  background-color: #A3d89a;
  color: #fff;
}

.home-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: chocolate;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: darkslategray;
}

.divider {
  height: 2px;
  background-color: rgba(107, 62, 22, 0.3);
  margin: 30px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
}

.side-container {
  width: 250px; /* Ubah lebar sesuai kebutuhan Anda */
  height: 30%; /* Mengisi tinggi kontainer sesuai layar */
  position: fixed; /* Membuatnya tetap di posisi ketika scrolling */
  align-items: right;
  top: 75px;
  right: 0; /* Menempatkan kontainer di pojok kanan */
  background-color: #333; /* Warna latar belakang */
  color: #fff; /* Warna teks */
  padding: 20px; /* Jarak dalam kontainer */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Efek bayangan */
}

/* Mengatur tampilan sidebar */
.sidebar {
  flex: 1; /* Menggunakan semua ruang yang tersedia */
  background-color: #333; /* Warna latar belakang sidebar */
  color: #fff; /* Warna teks di sidebar */
  padding: 1px;
}

.sidebar h1{
  color: #fff;
  font-size: 1.2rem;
  /* Perbesar font judul */
  margin-bottom: 2pxpx;
  font-weight: bold;
  /* Tambahkan ketebalan font */
}

.sidebar p {
  font-size: 0.8rem;
  line-height: 1.4;
  margin-bottom: 5px;
  color:#fff;
}
