/* EditProfile Container */
.edit-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 150px;
    margin-bottom: 350px;
}

.edit-profile-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Admin Data List */
.admin-data {
    margin-top: 20px;
}

.user-list {
    list-style: none;
    padding: 0;
}

.user-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.user-list button {
    background-color: chocolate;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-list button:hover {
    background-color: blanchedalmond;
}

/* User Modal */
.user-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #999;
    transition: color 0.3s;
}

.close-button:hover {
    color: #333;
}

.modal-content h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.submit-button {
    background-color: chocolate;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: blanchedalmond;
}

.userView {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #3a2a12;
    /* Warna latar belakang */
    border-radius: 10px;
    /* Membuat sudut elemen menjadi lebih lembut */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Efek bayangan elemen */
    font-size: 24px;
    /* Ukuran font */
    color: white;
    /* Warna teks */
    margin-top: 200px;
    margin-bottom: 340px;
}

/* Gaya tambahan sesuai kebutuhan */
.userView p {
    font-size: 18px;
    color: white;
    /* Warna teks tambahan */
}