/* Footer.css */

.footer {
  background-color: #DAFFF2;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  flex: 1;
}

.footer-logo h1 {
  color: #fff;
  font-size: 2.5rem;
  /* Perbesar font judul */
  margin-bottom: 2pxpx;
  font-weight: bold;
  /* Tambahkan ketebalan font */
}

.footer-logo p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 10px;
}

.footer-info {
  flex: 1;
}

.footer-info p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 10px;
}

.footer-info a {
  color: #fff;
  text-decoration: underline;
  /* Tambahkan garis bawah pada tautan */
}

.footer-info a:hover {
  color: #ccc;
  /* Warna saat tautan dihover */
}

.footer-social {
  flex: 1;
}

.footer-social h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  /* Tambahkan ketebalan font */
}

.social-icons {
  display: flex;
}

.social-icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.social-icon:last-child {
  margin-right: 0;
}

.footer-bottom {
  background-color: #3a2a12;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 1rem;
  margin: 0;
  color: #fff;
}