/* Login.css */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e6f5e6; /* Warna hijau muda yang mencerminkan tema alam */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.login-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1rem;
    background-color: transparent;
    transition: border-bottom 0.3s ease;
    color: #333;
}

.form-group input:focus {
    border-bottom: 2px solid #8db68f; /* Warna hijau tua saat fokus, mencerminkan tema alam */
    outline: none;
}

.submit-button {
    background-color: #8db68f; /* Warna hijau tua yang mencerminkan tema alam */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #b3cc99; /* Warna hijau yang lebih terang saat hover, mencerminkan tema alam */
}
