/* Styling untuk card destinasi wisata */
.destinasi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-top: 20px;
    /* Sedikit dikurangi untuk ketinggian yang lebih baik */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 550px;
    margin-bottom: 80px;
    /* Mengubah tinggi carousel */
}

.destinasi-card img {
    max-height: 350px;
    /* Maksimum tinggi gambar */
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
}

.destinasi-card:hover {
    transform: scale(1.05);
    background-color: #fff;
}

/* Styling untuk konten card destinasi wisata */
.destinasi-card-content {
    margin-top: 10px;
}

.destinasi-card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.destinasi-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Styling untuk tombol "Lihat Selengkapnya" */
.destinasi-button {
    background-color: #d2691e;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.destinasi-button:hover {
    background-color: #a0522d;
    color: #fff;
}

.carousel .control-arrow {
    font-size: 24px;
    /* Ukuran font tombol pagination */
    color: #d2691e;
    /* Warna font tombol pagination */
    background: transparent;
    /* Hapus latar belakang tombol pagination */
}

.carousel .control-dots .dot {
    background: #d2691e;
    /* Warna latar belakang dot pagination */
    box-shadow: none;
    /* Hapus shadow pada dot pagination */
    width: 12px;
    /* Ukuran lebar dot pagination */
    height: 12px;
    /* Ukuran tinggi dot pagination */
    margin: 0 5px;
    /* Jarak antara dot pagination */
}

.carousel .control-dots .dot.selected {
    background: #a0522d;
    /* Warna latar belakang dot pagination saat aktif */
}