/* DestinasiList.css */
.destinasiList {
    text-align: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    /* margin: 0; */
    margin-top: 100px;
    padding: 0;
    margin-bottom: 50px;
}

.destinasiList-header {
    background-color: #654321;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.destinasiList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinasi-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.destinasi-left img,
.destinasi-right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.destinasi-left img:hover,
.destinasi-right img:hover {
    transform: scale(1.1);
}

.destinasi-left h1,
.destinasi-right h1 {
    font-size: 36px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.destinasi-left p,
.destinasi-right p {
    font-size: 18px;
    margin-left: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    transition: opacity 0.3s ease-in-out;
}

/* Atur opacity saat tombol pagination dinonaktifkan */
.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.pagination button {
    background-color: #654321;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Arial', sans-serif;
    /* Ganti gaya font sesuai yang Anda inginkan */
}

.pagination button:hover {
    background-color: #432109;
    color: #fff;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #999;
}

html,
body {
    scroll-behavior: smooth;
}